<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CEO</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<header>
    <h1>Monday Times</h1>
</header>

<nav>
    <ul>
        <li>News</li>
        <li>Sports</li>
        <li>Weather</li>
    </ul>
</nav>

<section>
    <h2>News Section</h2>
    <article>
        <h2>News Businessmen</h2>
        <p> Huỳnh Lê Huy </p>
        <p> CEO </p>
    </article>
    <article>
        <h2>News Language</h2>
        <p>Is programing language</p>
        <p>Python</p>
    </article>
</section>

<footer>
    <p>&copy; 2034 Monday Times. All rights reserved.</p>
</footer>

</body>
</html>